@font-face {
    font-family: 'Matrix Font';
    src: url('matrix.ttf') format('truetype');
}

*{
    margin: 0;
}

body{
    background-image: url("https://wallpapercave.com/wp/wp2822475.jpg")
}


#resultado{
    font-size: 32px;
    color: rgb(9, 255, 0);
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: rgb(39, 207, 33);
    background-color: rgba(0, 0, 0, 0.774);
    height: 100vh;
    font-family: 'Matrix Font', sans-serif;
}


form {
    display: grid;
    align-items: center;
    text-align: center;
}

button{
    background-color: black;
    color: rgb(39, 207, 33);
    font-size: 20px;
    border: solid rgb(39, 207, 33) 2px;
    font-family: 'Matrix Font', sans-serif;
    margin-top: 10px;
    width: 175px;
}

button:hover{
    background-color: rgb(39, 207, 33);
    color: black;
    transition: 0.5s;

}